%body.onepage
  #preloader
  = render partial: 'header'
  = render partial: 'nav'
  = render partial: 'about'
  = render partial: 'portfolio'
  = render partial: 'contact'
  = render partial: 'footer'
